@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.AddInpute input {
    font-size: 19px;
    padding: 10px;
    margin: 0 auto;
}

.AddInpute button {
    font-size: 19px;
    padding: 10px;
    margin: 0 auto;
}